/**********************

default style rule set for css

selector {
  property: value;
}

********************/

body {
font-family: 'Kanit', sans-serif;
}

body {
  background-color: white;
  margin-top: 330px;
}

h1 {
  color: hotpink;
  text-align: center;
  font-size: 100px;
  font-weight: 900;
}

h2 {
  color: lightskyblue;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
}

a {
  color: white;
}
a:hover {
  color: steelblue;
  font-style: italic;
}
